<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Confim</title>
    <style media="screen">
        .confBtn{
            width:150%;
        }

        .inputBtn{
            width:100%;
        }
        
        .spacerCell{
            width:25px;
        }
    </style>
  </head>
  <body>
      <table>
          <tr>
              <th>
                  Are you sure?
              </th>
          </tr>
          <tr>
              <td>
                 <button type="submit" name="submit" value="confirm" class="cnfBtn">OK</button>
              </td>
              <td>
                 <button type="submit" name="submit" value="cancel" class="cnfBtn">Cancel</button>
              </td>
          </tr>
      </table>
  </body>
</html>