<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>projector control</title>

</head>
<body>
<table style="text-align: left; width: 272px;" border="1" cellpadding="2" cellspacing="2">
<tbody>
<tr>
<td style="width: 87px;"><button value="powerOn" name="powerOn">Power
ON</button></td>
<td style="width: 78px;"><button name="PowerOff" value="powerOFF">Power Off</button></td>
<td style="width: 61px;"><button value="Input1" name="Input1">Input 1</button></td>
</tr>
<tr>
<td style="width: 87px;"></td>
<td style="width: 78px;"></td>
<td style="width: 61px;"><button value="Input2" name="Input2">Input 2</button></td>
</tr>
<tr>
<td style="width: 87px;"><a href="/lampHours">Lamp hours</a><br></td>
<td style="width: 78px;"></td>
<td style="width: 61px;"><button value="Input3" name="Input3">Input 3</button></td>
</tr>
<tr>
<td style="width: 87px;"></td>
<td style="width: 78px;"></td>
<td style="width: 61px;"><button value="Input4" name="Input4">Input 4</button></td>
</tr>
</tbody>
</table>
<br>
</body></html>